.photo {
  position: relative;
  display: inline-block;
}

.remove {
  display: none;
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  color: white;
  background: black;
  transform: translate(-50%, 50%);
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
}

.photo:hover .remove {
  display: inline-flex;
}
